.half {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.inpurData {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 50%;
  padding-left: 19px;
}

.preview {
  display: flex;
  /* width: 100%; */
  border-radius: 17px;
  border-color: black;
  border: 3px;
  margin: 40px;
  background-size: contain;
  width: 350px;
  height: 350px;
}

.file {
  /* margin-left: 19px; */
  padding-left: 19px;
  /* padding-bottom: 30px; */
}
.left {
  width: 50%;
  float: left;
  box-sizing: border-box;
  background: #8977ad;
}
.right {
  width: 50%;
  float: right;
  box-sizing: border-box;
  background: #ece6cc;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0;
  padding: 0;
}
.Makeit:hover {
  transform: scale(1.2);
}
