.container {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.desc {
  color: aliceblue;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}

.pics {
  margin: 0 auto;
  overflow: hidden;

  padding: 100px;
  width: 1000px;
  /* width: 100px;
  height: 100px; */
}
