.header {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: aqua;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 30px;
  color: orange;
}

/* .ulDiv {
  height: 100%;
} */

.ul {
  height: 60px;
  display: flex;
  list-style: none;
  align-items: center;
}

.NavLink {
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 60px;
  margin-right: 50px;
  border-radius: 15px;
  background-color: white;

  align-items: center;
  justify-content: center;
}
