.Main {
  width: 430px;
  height: 130px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.connect {
  width: 100%;
  color: white;
  background: teal;
  padding: 0.5rem 0.5;
  border: 1px solid teal;
  border-radius: 1rem;
}

