.container {
    height: 100vh;
    width: 100vw;
    overflow: auto;
  
  }


.user{
    margin-top: 150px;
    margin-left: 30px;
    width: 100vw;
    align-items: left;
    text-align: left;
  }
  
  .loadingContainer{
    display :flex;
    flex-direction: column;
  }
  
.name {
    margin-left: 50px;
    width: 100vw;
    align-items: left;
    text-align: left;
}

.account {
    margin-left: 20px;
    width: 100vw;
    align-items: left;
    text-align: left;
}

.tap {
    margin-top: 70px;
}

.pics {
    margin: 0 auto;
    overflow: hidden;
    padding: 100px;
    width: 1000px;
    /* width: 100px;
    height: 100px; */
  }
